.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  
  padding: 18px 22px;
  text-align: center;

  background-color: #f3f3f3;
  border: 1px solid #d3d3d3;
  border-radius: 7px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.inputWrapper {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 3px;
  text-align: left;
}

.input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 6px;
  border: 1px solid #808080;
  border-radius: 4px;
}

.button {
  padding: 5px 25px;
  font-size: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  background-color: #e3e3e3;
}

.button:hover {
  background-color: #d3d3d3;
}

.button:active {
  scale: 0.98;
}
